@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@media only screen and (max-width: 400px) {
  #title {
	  font-size: 80px;
}
}
body {
    text-align: center;
    color: white;
    background-color: black;
}

.button:nth-child(even){
    background-color:#8cb3d9;
}

.button:nth-child(odd){
    background-color:#336699;
}

.button{
    color:white;
    font: bold 25px 'Rock Salt', cursive;
    margin: 5px;
    border-radius: 8px;
    padding: 20px;
}

#hangman_display{
    width: 50%;
    height: 30%;
}

#buttons{
    text-align: center;
}

#title {
	font: bold 50px 'Rock Salt', cursive;
	text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -3px red;
}

#display{
    font-size: 48px;
}

p {
    font-size: 50px;
