@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@media only screen and (max-width: 400px) {
    #title {
	  font-size: 80px;
    }
    .button {
	width:5%;
    }
}
body {
    color: white;
    background-color: black;
}

.button:nth-child(even){
    background-color:firebrick;
    width: 5vw;
    height: 10vh;
}

.button:nth-child(odd){
    background-color:darkred;
    width: 5vw;
    height: 10vh;
}

.button{
    color:white;
    font: bold 2vh 'Rock Salt', cursive;
    margin: 5px;
    border-radius: 8px;
    padding: 20px;
}

#hangman_display{
    width: 20vw;
    height: 20vh;
}

#buttons{
    text-align: center;
}

#title {
	font: bold 5vh 'Rock Salt', cursive;
	text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -3px red;
}

#display{
    font-size: 5vh;
}

#score{
    font-size: 2vh
}

#guesses{
    font-size: 2vh
}

#desc{
    font-size: 2vh;
}

#resetButton{
    width: 5vw;
    height: 5vh;
}

p {
    font-size: 50px;
}
